<h1>Admin</h1>

<div class='container'>
<div>
  <input ng-model='searchText' placeholder='search'>
</div>

<table class='table'>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Zipcode</th>
    <th>Remove User</th>
  </thead>
  <tbody>
    <tr ng-repeat='user in users | filter : searchText'>
      <td>{{user.firstName}}&nbsp;{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.zipCode}}</td>
      <td><button class='btn btn-danger' ng-click='removeUser(user)'><i class='fa fa-times'></i></button></td>
    </tr>
  </tbody>
</table>
</div>
