<!DOCTYPE html>
<html>

<head>
  <title>PaceMe</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/assets/css-frameworks/normalize.css">
    <link rel="stylesheet" href="/assets/css-frameworks/skeleton.css"> -->

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,200,100,200italic,500' rel='stylesheet' type='text/css'>
<!--
  <link rel="stylesheet" href="/assets/css-frameworks/cs-select.css">
  <link rel="stylesheet" href="/assets/css-frameworks/cs-skin-underline.css">
  <link rel="stylesheet" href="/assets/css-frameworks/cs-skin-slide.css"> -->

  <link rel="stylesheet" href="css/style.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/stormpath-sdk-angularjs/dist/stormpath-sdk-angularjs.min.js"></script>
  <script src="/bower_components/stormpath-sdk-angularjs/dist/stormpath-sdk-angularjs.tpls.min.js"></script>

  <script src="/assets/js-frameworks/classie.js"></script>
  <script src="/assets/js-frameworks/selectFx.js"></script>

  <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>

  <script src="/js/bundle.js"></script>
</head>

<body ng-app="paceMeApp">

  <navbar></navbar>

  <div ui-view></div>

  <footer-view></footer-view>
</body>

</html>
