<!DOCTYPE html>
<html>
  <head>

	<title>PaceMe</title>


    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/css/normalize.css">
    <link rel="stylesheet" href="/components/css/skeleton.css">
    <link rel="stylesheet" href="/components/navbar/navbar.css">
    <link rel="stylesheet" href="app/home/home.css">
    <link rel="stylesheet" href="/components/css/main.css">
    <link rel="stylesheet" href="/components/footer/footer.css">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

  	<script src="/bower_components/angular/angular.min.js"></script>
  	<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

  	<script src="/app/module.js"></script>
  	<script src="/app/module.states.js"></script>
  	<script src="/app/home/home.controller.js"></script>
  	<script src="/app/auth/auth.controller.js"></script>
  	<script src="/app/auth/authService.js"></script>

    <script src="/components/footer/footer.controller.js"></script>
    <script src="/components/footer/footer.directive.js"></script>
    <script src="/components/navbar/navbar.js"></script>
    <script src="/components/navbar/navbar.controller.js"></script>
    <script src="/components/navbar/navbar.directive.js"></script>

  </head>
  <body ng-app="paceMeApp">

    <navbar></navbar>

    <ui-view></ui-view>

    <footer-view></footer-view>

  </body>
</html>
