<div class="jumbotron" ng-class="{'fullview': !user}">
  <div class="container">
    <div class="row header text-center">
      <h2>
        search for runners nearby
      </h2>

      <div class="col-xs-12" ng-if="!loggedIn">
        <input type="text" placeholder="enter zip code" id="listInput" maxlength="5" ng-model="guest.zip" ng-change="getGuestMatches(guest.zip)">
        <br>
        <button class="btn green" ng-click="">submit</button>
      </div>

      <div class="col-xs-12" ng-if="loggedIn">
        <div class="cs-select">
        <select class="cs-select cs-skin-underline" ng-model="listView.radius" ng-change="newRadius(listView.radius)">
          <option value="" disabled selected>Radius</option>
          <option value="10">within 10 mi</option>
          <option value="15">within 15 mi</option>
          <option value="20">within 20 mi</option>
          <option value="30">within 30 mi</option>
          <option value="40">within 40 mi</option>
          <option value="50">within 50 mi</option>
        </select>
      </div>

      </div>


    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4" ng-repeat="runner in runners | orderBy: sortMilePace track by $index">
      <div class="card">
      <div ng-if="!loggedIn">
        <div class="col-xs-12">
          <img class="blur" ng-src="{{runner.photo}}" width="100%">
        </div>
        <div class="col-xs-12 list-info">

          <div> {{runner.firstName}}</div>
          <div>Distance Away: {{runner.dist}}</div>
          <div>Mile Pace: {{runner.milePace}}</div>

        </div>
        <div class="new-view" ui-sref="register.initial">
          <i class="fa fa-arrow-circle-right fa-3x black cursor" aria-hidden="true"></i>
        </div>
      </div>
      <!--end if !loggedIn-->

      <div ng-if="loggedIn">
        <div class="col-xs-12">
          <img ng-src="{{runner.photo}}" width="100%">
          <br>
          <div>
            {{runner.gender}}
          </div>
          <div>
            {{runner.age}}
          </div>
        </div>
        <div class="col-xs-12">
          <div>{{runner.firstName}} {{runner.lastName}}</div>
          <div>Distance: {{runner.dist}}</div>
          <div>Mile Pace: {{runner.milePace | minutes2Seconds | date:'mm:ss'}}</div>
          <div>Weekly Mileage: {{runner.wklyMileage}}</div>
          <div ng-if="runner.runEvent">training for {{runner.runEvent}}</div>
        </div>
        <div class="new-view" ng-click="viewProfile(runner)">
          <i class="fa fa-arrow-circle-right fa-3x black cursor" aria-hidden="true"></i>
        </div>
      </div>
      <!--end if loggedIn-->
    </div>
    </div>
    <!--end card-->
  </div>
  <!--end row-->
</div>
<!--end container-->

<script>
  (function() {
    [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function(el) {
      new SelectFx(el);
    });
  })();
</script>
