<h1>list</h1>

<div class="container">
  <div class="row">
    <div class="card col-xs-12" ng-repeat="user in users">

      <div ng-if="!loggedIn">
        <div class="col-xs-4">
          <img class="blur" ng-src="{{user.photo}}" width="100%">
        </div>
        <div class="col-xs-8">

          <div>{{user.firstName}}</div>
          <div>{{user.distAway}}</div>
          <div>{{user.milePace}}</div>
        </div>
      </div>

      <div ng-if="loggedIn">
        <div class="col-xs-4">
          <img ng-src="{{user.photo}}" width="100%">
          <br>

          <div>
            {{user.gender}}
          </div>

          <div>
            {{user.age}}
          </div>
        </div>
        <div class="col-xs-8">
          <div>{{user.firstName}} {{user.lastName}}</div>
          <div>{{user.distAway}}</div>
          <div>{{user.milePace}}</div>
          <div>{{user.wkly}}</div>
          <div ng-if="user.runEvent">training for {{user.runEvent}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
