
<div class="jumbotron">
<div class="container">
  <div class="row header text-center">
    <h2>
      find a buddy
    </h2>

    <input type="text" placeholder="enter zip code" id="listInput">
    <Br>
    <button class="btn green">submit</button>

  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="card col-xs-12" ng-repeat="user in users track by $index">

      <div ng-if="!loggedIn">
        <div class="col-xs-4">
          <img class="blur" ng-src="{{user.photo}}" width="100%">
        </div>
        <div class="col-xs-8 list-info">

          <div>{{user.firstName}}</div>
          <div>{{user.distAway}}</div>
          <div>{{user.milePace}}</div>

        </div>
        <div class="new-view" ui-sref="register">
          <i class="fa fa-arrow-circle-right fa-3x black cursor" aria-hidden="true"></i>
        </div>

      </div>

      <div ng-if="loggedIn">
        <div class="col-xs-4">
          <img ng-src="{{user.photo}}" width="100%">
          <br>

          <div>
            {{user.gender}}
          </div>

          <div>
            {{user.age}}
          </div>
        </div>
        <div class="col-xs-8">
          <div>{{user.firstName}} {{user.lastName}}</div>
          <div>{{user.distAway}}</div>
          <div>{{user.milePace}}</div>
          <div>{{user.wkly}}</div>
          <div ng-if="user.runEvent">training for {{user.runEvent}}</div>


        </div>

                  <div class="new-view" ui-sref="profile">
                    <i class="fa fa-arrow-circle-right fa-3x black cursor" aria-hidden="true"></i>
                  </div>
      </div>
    </div>
  </div>
</div>
</div>
