
body {
  font-family:'Raleway', sans-serif;
  background-color: #222;
  position:relative;
  margin: 0 auto;
  padding:0;
  line-height:1;
  height:100%;
  width:100%;
  min-width: 320px;
}
h1, h2, h3, h4, h5 {
  font-family:'Raleway', sans-serif;
  font-weight:100;
  margin:5px auto;
}
.cursor {
  cursor:pointer;
}
hr {
  color:#ccc;
}

.black {
  color: #000;
}
