<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navCtrl">
  <a class="navbar-brand navbar-left" ui-sref="home">PaceMe</a>

  <div class="container">

    <ul class="nav navbar-nav navbar-right">

        <li><a ui-sref="register">Register</a></li>
        <li><a ui-sref="login">Log In</a></li>
        <li><a ui-sref="list">List</a></li>
        <li><a ui-sref="profile">Profile</a></li>
     <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit Profile<span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a ui-sref="profile">Register</a></li>
         <li><a ui-sref="login">Log In</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Separated link</a></li>
       </ul>
     </li>
   </ul>
  </div>
</nav>
