<div class="back-view" ui-sref="list">
  <i class="fa fa-arrow-circle-left fa-3x black cursor" aria-hidden="true"></i>
</div>
<div class='container profile'>
  <div class='profile-main row'>
    <div class="col-xs-12 col-sm-3 photo">
      <div class="card-img">
        <img class="profile-photo" ng-src='{{runner.photo}}'>
      </div>
      <h2 class="profile">{{runner.firstName}} {{runner.lastName | limitTo:1}}.</h2>
      <br>
      <h3>{{runner.age}} |
          <i class="fa fa-mars" ng-if="runner.gender === 'male'"></i>
          <i class="fa fa-venus" ng-if="runner.gender === 'female'"></i>
          <button class='btn green' ng-click="open(runner)">Send a message</button>
      </h3>
      <hr>
      <h4><img src="../img/home/layers/arrow4.png" width="7"> Bio</h4>
      <p>{{runner.about}}</p>
      <div class="editUser cursor" ng-if="editable" ng-click="editBasics(runner)">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class='row card-profile'>

        <h4>Run Stats</h4>
        <hr>
        <div class="editUser cursor" ng-if="editable" ng-click="editRun(runner)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>

        <div class='col-xs-12 run-stats'>
          <h4 ng-if="runner.runEvent !== 'undefined'">Currently training for a: {{runner.runEvent}}</h4>
          <h4>Avg Mile Time: {{runner.milePace | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4>Weekly Miles: {{runner.wklyMileage}}</h4>
        </div>

        <div class="col-xs-12 run-stats">
          <h3>Personal Records</h3>
          <h4 ng-if='runner.longestDistRun && runner.longestDistRun !== "undefined"'>Longest Distance Run: {{runner.longestDistRun}}</h4>
          <h4 ng-if='runner.onemiPR && runner.onemiPR !== "undefined"'>1 Mile: {{runner.onemiPR | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4 ng-if='runner.fivekPR && runner.fivekPR !== "undefined"'>5k: {{runner.fivekPR | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4 ng-if='runner.tenkPR && runner.tenkPR !== "undefined"'>10k: {{runner.tenkPR | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4 ng-if='runner.halfPR && runner.halfPR !== "undefined"'>Half Marathon: {{runner.halfPR | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4 ng-if='runner.marathonPR && runner.marathonPR !== "undefined"'>Marathon: {{runner.marathonPR | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4 ng-if='runner.sixtyM && runner.sixtyM !== "undefined"'>60 Meter PR: {{runner.sixtyM | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4 ng-if='runner.oneHundM && runner.oneHundM !== "undefined"'>100 Meter PR: {{runner.oneHundM | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4 ng-if='runner.twoHundM && runner.twoHundM !== "undefined"'>200 Meter PR: {{runner.twoHundM | minutes2Seconds | date:'mm:ss'}}</h4>
          <h4 ng-if='runner.fourHundM && runner.fourHundM !== "undefined"'>400 Meter PR: {{runner.fourHundM | minutes2Seconds | date:'mm:ss'}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<footer-view></footer-view>



<!--TEXT MESSAGE MODAL-->
<script type="text/ng-template" id="sendMessage.html">
  <div class="modal-header">
    <h3 class="modal-title">Send a Message</h3>
  </div>
  <div class="modal-body">
    <label for="comment">Text</label>
    <textarea class="form-control" rows="5" ng-model="message.message" maxlength="140" placeholder='Hey I saw your profile, want to run tomorrow?'></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="sendMessage(message)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>



<!--BASICS MODAL-->
<script type="text/ng-template" id="basics.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Info</h3>
  </div>
  <div class="modal-body">
    <div class='input-group col-xs-12'>
      <span class='input-group-addon'>First Name:</span>
      <input type="text" class='form-control' ng-model="runnerEdit.firstName">
    </div>
    <br>
    <div class='input-group col-xs-12'>
      <span class='input-group-addon'>Last Name:</span>
      <input type="text" class='form-control' ng-model="runnerEdit.lastName">
    </div>
    <br>
    <div class='input-group col-xs-12'>
      <span class='input-group-addon'>Age: </span>
      <input type="text" class='form-control' ng-model="runnerEdit.age" placeholder="average mile pace">
    </div>
    <br>
    <div class='input-group col-xs-12'>
      <span class='input-group-addon'>Gender: </span>
      <input type="text" class='form-control' ng-model="runnerEdit.gender" placeholder="weekly mileage">
    </div>
    <br>
    <span for="comment">Bio</span>
    <textarea class="form-control" rows="5" ng-model="runnerEdit.about" placeholder='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempora odio praesentium quidem illo magni alias suscipit adipisci blanditiis amet magnam molestiae earum expedita quasi quia ex, debitis est similique. Harum aliquam quidem maiores rem at, amet soluta nobis voluptatibus nisi consequatur, porro dolore omnis cupiditate architecto! Cum, non, mollitia?'></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveBasics(runnerEdit)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>




<!--RUNNER STATS MODAL-->
<script type="text/ng-template" id="runModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Run Stats</h3>
  </div>
  <div class="modal-body">
    <div class="input-group col-xs-12">
      <span class='input-group-addon'>training for: </span>
      <input class='form-control' type="text" ng-model="runnerEdit.runEvent">
    </div>
    <br>
    <div class="input-group col-xs-12">
      <span class='input-group-addon'>average one-mile pace</span>
      <input type="text" class='form-control' inputTime ng-model="runnerEdit.milePace" placeholder="average mile pace">
    </div>
    <br>
    <div class="input-group col-xs-12">
      <span class='input-group-addon'>weekly mileage</span>
      <input type="text" class='form-control' ng-model="runnerEdit.wklyMileage" placeholder="weekly mileage">
    </div>
    <br>
    <div class="input-group col-xs-12">
      <span class='input-group-addon'>1 Mile PR</span>
      <input type="text" class='form-control' ng-model="runnerEdit.onemiPR" placeholder="one mile pr">
    </div>
    <br>
    <div class="input-group col-xs-12">
      <span class='input-group-addon'>5K PR</span>
      <input type="text" class='form-control' ng-model="runnerEdit.fivekPR" placeholder="five k">
    </div>
    <br>
    <div class="input-group col-xs-12">
      <span class='input-group-addon'>10K PR</span>
      <input type="text" class='form-control' ng-model='runnerEdit.tenkPR' placeholder="10K PR">
    </div>
    <br>
    <div class="input-group col-xs-12">
      <span class='input-group-addon'>Half Marathon PR</span>
      <input type="text" class='form-control' ng-model='runnerEdit.halfPR' placeholder="Half Marathon PR">
    </div>
    <br>
    <div class="input-group col-xs-12">
      <span class='input-group-addon'>Marathon PR</span>
      <input type="text" class='form-control' ng-model='runnerEdit.marathonPR' placeholder="Marathon PR">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveRun(runnerEdit)">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
