$navy1:#304A69;
$limeGreen: #58CE87;

.profile {
  margin-top: 100px;
}

.backdrop {
  background-color: #000;
}

.profile-main {
  text-align: center;
}

.profile-main img {
  margin-bottom: 30px;
  height: 200px;
  width: auto;
}

button {
  outline:none !important;
  color:#fff;
}
button.green {
  background-color: $limeGreen;
  box-shadow: 2px 2px #499971;
  border:none !important;

  color:#fff;
}
button.green:active {
  transform:translate(2px, 2px);
  box-shadow:none;
  color:#fff;
}

.card-info {
  height: 415px;
  text-align: left;
  overflow: scroll;
}

.about-me {
  line-height: 2.5;
}

.card-info p {
  font-size: 1.1em;
}
