$white: #fff;
$navy1: #304A69;
$limeGreen: #58CE87;
/*parallax*/

#parallax {
  height: 800px;
  overflow: hidden;
  position: relative;
}
.layer {
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

.parallax-layer-logo {
  background-image: url('../img/home/layers/logo.png');
  background-size:40%;
  margin-top:-25%;

}
.parallax-layer-1 {
  background-image: url("../img/home/layers/layer1.png");
}
.parallax-layer-2 {
  background-image: url("../img/home/layers/layer2.png");
}
.parallax-layer-bg {
background-color: $navy1;
}

#parallax-mobile {
  display: none;
  background: url("../img/home/layers/mobile-bg.png") no-repeat center bottom/cover;
  height: 320px;
}

/*home welcome*/

#welcome {
  height:500px;
  background-color: #fff;
}
.jumbotron {
  margin-bottom:0;
}

input {
  outline: 0 !important;
}
input[type="number"] {
  width: 80px;
  vertical-align: middle;
  font-size: 24px;
}
button {
  border: 1px solid $white !important;
  color: $white;
}

@media only screen and (max-width: 768px) {
  #parallax {
    display: none;
  }

  #parallax-mobile {
    display:block;
  }
}
