$limeGreen: #58CE87;
$navy1: #304A69;
$lightblue: #18B3B7;
.register-views[ui-view] {
  background-color:#fff;
}
.run-dropdown {
  height:300px;
}
.cs-skin-underline .cs-options li span {
  font-size:14px;
}
li {
  margin-bottom:0;
}
.drop-box{
	border: 2px dotted black;
}
.register-views, .login-view {
	height:100vh;
}
.reg-template {
  margin-top:10%;
}
.radio-inline+.radio-inline {
  margin-left:0;
}
.register-views{
  margin-top:100px;
  h1, h3, h2, h4, h5 {
    color:#333;
  }
}

input[type="number"] {
  width:100%;
  font-size:auto;
}
input.auth {
  width:100%;
  text-align:center;
  background-color: rgba(0,0,0,0);
  border: 1px solid #333;
  color:#333;
  padding: 6px 12px;
  border-radius:5px;
}

.run-dropdown {
  height:auto;
}
.register-finish {
  float:right;
}
