<h1>Auth</h1>

<div>
  <input ng-hide='enterCode' type='text' ng-model='person.phone' placeholder='phone number'>
  <input ng-show='enterCode' type='text' ng-model='verifyCode' placeholder="code">
  <button ng-hide='enterCode' ng-click='sendText(phone)'>Send Verification Text</button>
  <button ng-show='enterCode' ng-click='verifyPhone(verifyCode)'>Verify Phone</button>
</div>

<div>
  <!-- person info name email password -->
  <input ng-model='person.'
</div>

<div>
  <!-- running info -->
</div>
