
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 reg-template">
			<form>

					<h3>Verify your phone number.</h3>

				<input ng-hide='enterPin' class="auth" type='number' ng-model='runner.phone' placeholder='phone number (US Only) 4445551234'>
				<input ng-show='enterPin' class="auth" type='number' ng-model='verifyCode' placeholder="enter 4-digit verification code">
				<button ng-hide='enterPin' ng-click='sendText(runner.phone)' class='btn green auth'>Send Verification Text</button>
				<button ng-show='enterPin' ng-click='verifyPhone(verifyCode)' class='btn green auth'>Verify Phone</button>
			</form>
      <div ng-show='badNumber'>
        <h3>There is an error with your number, or your network is not supported.</h3>
      </div>
			<div ng-show='wrongPin'>
				<h3>Wrong code</h3>
			</div>
			<div ng-show='tenDigits'>
				<h3>Please enter your ten digit phone number including the area code.</h3>
			</div>
		</div>
	</div>
</div>


<button ui-sref="register.bio">bio</button>
<button ui-sref="register.run">run</button>
