
<div class="container">

  <h1>Running Stats</h1>
<div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
        <h3>Personal Records</h3>
        <input class='form-control auth' ng-model='runner.longestDistRun' placeholder='longest distance run'>
        <input class='form-control auth' ng-model="runner.onemiPR" type="text" placeholder='one mile'>
    </div>
          <div class="col-xs-12 col-sm-6">
        <h4>Sprint Distance</h4>
        <input class='form-control auth' ng-model="runner.sixtyM" type="text" placeholder='60m'>
        <input class='form-control auth' ng-model="runner.oneHundM" type="text" placeholder='100m'>
        <input class='form-control auth' ng-model="runner.twoHundM" type="text" placeholder='200m'>
        <input class='form-control auth' ng-model="runner.fourHundM" type="text" placeholder='400m'>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4>Long Distance</h4>
        <input class='form-control auth' ng-model="runner.fivekPR" type="text" placeholder='5K'>
        <input class='form-control auth' ng-model="runner.tenkPR" type="text" placeholder='10K'>
        <input class='form-control auth' ng-model="runner.halfPR" type="text" placeholder='half marathon'>
        <input class='form-control auth' ng-model="runner.marathonPR" type="text" placeholder='marathon'>
      </div>

      </div>
    </div> <!--end row-->

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-6 run-dropdown">
        <div class="cs-select">
          <select class="cs-select cs-skin-slide" ng-model="runner.milePace">
            <option value="" disabled selected>Average Mile Time</option>

            <option value="2">5:30/ under</option>
            <option value="3">6:00</option>
            <option value="4">6:30</option>
            <option value="5">7:00</option>
            <option value="6">7:30</option>
            <option value="7">8:00</option>
            <option value="8">8:30</option>
            <option value="9">9:00</option>
            <option value="10">9:30</option>
            <option value="11">10:00</option>
            <option value="12">10:30</option>
            <option value="13">11:00</option>
            <option value="14">11:30</option>
            <option value="14">12:00 + </option>
          </select>
        </div>
      </div>
      <!--end inner col-->

      <div class="col-xs-12 col-sm-6">

        <div class="cs-select">
          <select class="cs-select cs-skin-slide" ng-model="runner.wklyMileage">
            <option value="" disabled selected>Weekly Mileage</option>
            <option value="1">0-5 mi</option>
            <option value="2">6-10 mi</option>
            <option value="3">11-15 mi</option>
            <option value="4">16-20 mi</option>
            <option value="5">21-25 mi</option>
            <option value="6">26-30 mi</option>
            <option value="7">30-40 mi</option>
            <option value="8">40-50 mi</option>
            <option value="9">50-60 mi</option>
            <option value="10">60-70 mi</option>
            <option value="11">70-80 mi</option>
            <option value="12">80+ mi</option>
          </select>
        </div>
        <button class='btn green register-finish' ui-sref='profile' ng-click='getUser()'>Finish sign up</button>

      </div>
      <!--end inner col-->
    </div>
    <!--end col-->

  </div>
  <!-- end row -->
</div>


  <script>
    (function() {
      [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function(el) {
        new SelectFx(el);
      });
    })();
  </script>
