<h1>person</h1>

<!-- Photo Upload Form -->
<!-- <div sp-registration-form></div> -->


<form ng-app="fileUpload"  name="form">
	<div class="row">
		<div class="col-xs-6">
			<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
			ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
			ngf-resize="{width: 100, height: 100}">Select</div>
		</div>
		<div class="col-xs-6">
			<!-- <div ngf-drop ng-model="files" class="drop-box">Drop</div>
		</div>
	
		Image thumbnail: <img ngf-thumbnail="file"> -->
		<button class="btn btn-danger" type="submit" ng-click="submit()">submit</button>
	</div>
	<div class='row'>
		<div class='input-group col-xs-12 col-sm-6'>
			<label>Tell us about yourself!</label>
			<textarea class="form-control" rows="5" ng-model='person.about' placeholder='cool examples for about me section'></textarea>
		</div>
	</div>

</form>

<button class='btn green' ui-sref='register.run'>Next</button>

