<h1>Phone</h1>
<div>
	<form>
	<input ng-hide='enterPin' type='text' ng-model='runner.phone' placeholder='Phone Number'>
	<input ng-show='enterPin' type='text' ng-model='verifyCode' placeholder="Enter the 4 digit code we texted you">
	<button ng-hide='enterPin' ng-click='sendText(runner.phone)' class='btn green'>Send Verification Text</button>
	<button ng-show='enterPin' ng-click='verifyPhone(verifyCode)' class='btn green'>Verify Phone</button>
</form>
<div ng-show='wrongPin'><h3>Wrong code</h3></div>
</div>
